/**
 * Colors
 */
$primary: #0054FE;
$primary-light: #EEF4FF;
$secondary: #4AB8FF;
$secondary-light: #EDF8FF;
$yellow: #FDCC0C;
$yellow-light: #FEFAE9;
$pink: #FD5181;
$pink-light: #FFEEF2;
$grey: #74798C;
$grey-light: #F8F9FB;
